<div class="page-wrapper">
  <div class="content">

    <!-- Page Header -->
    <div class="page-header">
      <div class="row">
        <div class="col-sm-12">
          <ul class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="routes.expenses">Menu Principal </a></li>
            <li class="breadcrumb-item"><i class="feather icon-chevron-right"></i></li>
            <li class="breadcrumb-item active">Lista de Categorias</li>
          </ul>
        </div>
      </div>
    </div>
    <!-- /Page Header -->

    <div class="row">
      <div class="col-sm-12">

        <div class="card card-table show-entire">
          <div class="card-body">

            <!-- Table Header -->
            <!-- <div class="page-table-header mb-2">
              <div class="row align-items-center">
                <div class="col">
                  <div class="doctor-table-blk">
                    <h3>Crear Categoria</h3>
                    
                  </div>
                </div>
              </div>
            </div> -->
            <!-- /Table Header -->




            <!-- <div class="staff-search-table">
              <form>
                  <div class="row">
                      <div class="col-12 col-md-6 col-xl-3">
                        <div class="form-group local-forms">
                          <label for="Item">Categoria </label>
                          <input class="form-control" type="text">
                      </div>
                      </div>
                      <div class="col-12 col-md-6 col-xl-2">
                        <div class="doctor-submit">
                          <button type="submit" class="btn btn-primary submit-list-form me-2">Crear Categoria</button>
                      </div>
                      </div>
                      <div class="col-12 col-md-6 col-xl-3 offset-3">
                         
                      </div>
                  </div>
              </form>
          </div> -->



            <!-- Table Header -->
            <div class="page-table-header mb-2">
              <div class="row align-items-center">
                <div class="col">
                  <div class="doctor-table-blk">
                    <h3>Buscar Categoria</h3>
                    <div class="doctor-search-blk">
                      <div class="top-nav-search table-search-blk">
                        <input class="form-control" placeholder="Buscar Categoria..." matInput (keyup)="applyFilter($event)" />
                        <a class="btn"><img src="assets/img/icons/search-normal.svg" alt=""></a>
                      </div>
                      <div class="add-group">
                        <a [routerLink]="routes.CrearCategorias" class="btn btn-primary add-pluss ms-2"><img
                            src="assets/img/icons/plus.svg" alt=""></a>
                        <!-- <a href="javascript:;" class="btn btn-primary doctor-refresh ms-2"><img
                            src="assets/img/icons/re-fresh.svg" alt=""></a> -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- /Table Header -->
            <div class="staff-search-table">
              <form>
                <div class="row">
                  <div class="col-12 col-md-6 col-xl-4">
                    <div class="doctor-submit">
                      <!-- <button type="submit"
                                                class="btn btn-primary submit-list-form me-2">Search</button> -->
                    </div>
                  </div>
                </div>
              </form>
            </div>

            <div class="table-responsive small">
              <div class="mat-elevation-z8 small">
                <table mat-table [dataSource]="dataSourceCat" matSort
                  class="table border-0 custom-table comman-table datatable mb-0 table-sm">
                  <ng-container matColumnDef="index">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
                    <td mat-cell *matCellDef="let element let i = index;" class="profile-image">{{i + 1}}</td>
                  </ng-container>
                  <ng-container matColumnDef="Nombre Categoria">
                    <th mat-header-cell *matHeaderCellDef class="status-green" mat-sort-header> Nombre Categoria </th>
                    <td mat-cell *matCellDef="let element" class="profile-image"><a [routerLink]="routes.invoiceView"
                        [routerLink]="routes.profile">{{element.cat_nombre}}</a></td>
                  </ng-container>
                  <ng-container matColumnDef="Codigo Categoria">
                    <th mat-header-cell *matHeaderCellDef class="text-center">Código Categoria </th>
                    <td mat-cell *matCellDef="let element" class="profile-image text-center">{{element.cat_cod}}</td>
                  </ng-container>
                  <ng-container matColumnDef="Acciones">
                    <th mat-header-cell *matHeaderCellDef class="text-end">Acciones</th>
                    <td mat-cell *matCellDef="let element" class="text-end">
                      <div class="dropdown-action">
                        <a href="javascript:void(0);" class="action-icon dropdown-toggle" data-bs-toggle="dropdown"
                          aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                        <div class="dropdown-menu dropdown-menu-end">
                          <a class="dropdown-item" [routerLink]="routes.EditarCategorias"><i class="fa-solid fa-pen-to-square m-r-5"></i> Editar</a>
                          <a class="dropdown-item" href="javascript:void(0);" 
                           (click)="deleteCategoria(element.cat_id)" 
                            ><i class="fa fa-trash-alt m-r-5"></i> Eliminar</a>
                        </div>
                      </div>
                  </ng-container>
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns; let i = index;"></tr>
                </table>
                <mat-paginator class="page-link" [pageSizeOptions]="[7, 14, 21]" showFirstLastButtons
                  aria-label="Select page of periodic elements">
                </mat-paginator>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>